@model List<Ruby.Models.ProductType>

<div class="container">
    @foreach (var productGroup in Model)
    {
        <div class="row @(productGroup.Name.Trim(' '))" @*data-toggle="collapse" data-target="@("#col" + productGroup.Name.Trim(' '))"*@>
                <h2>@productGroup.Name</h2>
        </div>
        <div class="row @*collapse*@ products" id="@("col" + productGroup.Name.Trim(' '))">
            @foreach (var product in productGroup.Products)
            {
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="product-type well">
                    <a class="product-text" href="~/Product/Shop?name=@(product.Name)&color=@(product.Color)">@product.Type</a>
                    <div><img src="@product.ThumbImageFile" /></div>
                </div>
            </div>
            }
        </div>
        }
</div>
<script type="text/javascript" src="~/Scripts/products.js"></script>

