@model List<Ruby.Models.ProductType>

<div class="container">
    @foreach (var productGroup in Model)
    {
        <div class="row @(productGroup.Name.Trim(' '))" data-toggle="collapse" data-target="@("#col" + productGroup.Name.Trim(' '))">
                <h2>@productGroup.Name</h2>
        </div>
        <div class="row collapse products" id="@("col" + productGroup.Name.Trim(' '))">
            @foreach (var product in productGroup.Products)
            {
            <div class="col-xs-6 col-sm-4 col-md-2 product-type well">
                <a class="product-text" href="~/Product/Shop?name=@(product.Name)&color=@(product.Color)">@product.Type</a>
                <div><img width="100" src="@product.ImageFile" /></div>
            </div>
            }
        </div>
        }
</div>
<script type="text/javascript" src="~/Scripts/products.js"></script>

