@model List<Ruby.Models.Product>

<div class="container">
    <div class="row">
        <h2>@(Model.FirstOrDefault()?.Type)</h2>
    </div>
    <div class="row products">
        @foreach (var product in Model)
        {
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="product well">
                    <div><img src="@product.ThumbImageFile" class="thumb" alt="@product.Clean" data-src="@product.ImageFile" /></div>
                    <br />
                    <div><strong>Weight:</strong>&nbsp;<span>@product.Weight ct</span></div>
                    <div><strong>Size:</strong>&nbsp;<span>@product.Size.Replace(" x ", "x")</span></div>
                    <div><strong>Clean:</strong>&nbsp;<span>@product.Clean</span></div>
                    <div><strong>Price@(product.Currency):</strong>&nbsp;<span>@product.ConvertedPrice</span></div>
                    <button class="btn btn-success buy" data-id="@product.InternalId">Buy</button>
                </div>
            </div>

        }
    </div>  
    <row></row>
    <row>
        <div class="col-xs-12">
            <br />
            <br />
            <br />
            <br />
            <i>Current rates: USD to SEK: @(ViewBag.SEK) and USD to EUR: @(ViewBag.EUR) from</i>
            <a href="https://www.freeforexapi.com">
                <img alt="Free Forex API" src="https://www.freeforexapi.com/Images/link.png" height="20">
            </a>
        </div>
    </row>
</div>
<script type="text/javascript" src="~/Scripts/products.js"></script>

