@using Microsoft.AspNet.Identity
@{
    var ticker = "usd";
    if (Session["ticker"] != null)
    {
        ticker = Session["ticker"].ToString();
    }
}
<ul class="nav navbar-nav navbar-right">
    <li>
        <a class="sub-link-first sessCurr" data-url="@Url.Action("SetTicker","Product")" data-toggle="dropdown">Currency: <img src="../../Images/@(ticker).png" width="32" /></a>
        <a class="dropdown-toggle sub-link" data-toggle="dropdown" href="#">
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li class="@(ticker=="usd"?"active":"")"><a href="#" class="curr" data-curr="usd">USD <img src="../../Images/usd.png" alt="$" width="32" /></a></li>
            <li class="@(ticker=="eur"?"active":"")"><a href="#" class="curr" data-curr="eur">EUR <img src="../../Images/eur.png" alt="£" width="32" /></a></liclass="@(ticker=="usd"?"active":"")">
            <li class="@(ticker=="sek"?"active":"")"><a href="#" class="curr" data-curr="sek">SEK <img src="../../Images/sek.png" alt="kr" width="32" /></a></li>
        </ul>
    </li>
</ul>
@if (Request.IsAuthenticated)
{
    if (User.IsInRole("Admin"))
    {
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="/Admin/Pages" class="sub-link-first">Admin</a>
                <a class="dropdown-toggle sub-link" data-toggle="dropdown" href="#">
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="/Admin/Users">Users</a></li>
                    <li><a href="/Admin/Pages">Pages</a></li>
                    <li><a href="/Admin/ImportProducts">Import excel</a></li>
                    <li><a href="/Admin/ImportImages">Import images</a></li>
                </ul>
            </li>
        </ul>
    }
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
            @Html.AntiForgeryToken()

            <ul class="nav navbar-nav navbar-right">
                <li>
                    @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                </li>
                <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
            </ul>
        }
    }
    else
    {
        <ul class="nav navbar-nav navbar-right">
            <li>@Html.ActionLink("Cart", "Cart", "Product", routeValues: null, htmlAttributes: new {id = "cartLink"})</li>
            <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new {id = "loginLink"})</li>
        </ul>
    }

