@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    if (User.IsInRole("Admin"))
    {
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="/Admin/Pages" class="sub-link-first">Admin</a>
                <a class="dropdown-toggle sub-link" data-toggle="dropdown" href="#">
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="/Admin/Pages">Pages</a></li>
                    <li><a href="/Admin/ImportProducts">Import excel</a></li>
                    <li><a href="/Admin/ImportImages">Import images</a></li>
                </ul>
            </li>
        </ul>
    }
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
            @Html.AntiForgeryToken()

            <ul class="nav navbar-nav navbar-right">
                <li>
                    @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                </li>
                <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
            </ul>
        }
    }
    else
    {
        <ul class="nav navbar-nav navbar-right">
            <li>@Html.ActionLink("Cart", "Cart", "Product", routeValues: null, htmlAttributes: new { id = "cartLink" })</li>
            <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
            <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        </ul>
    }
